

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Business ID:</strong>
  <%= @business.id %>
</p>

<p>
  <strong>slug:</strong>
  <%= @business.slug %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
