<% if signed_in? %>
		<div class="container">
    <div class="row">
					<div class="stats">
						<ul class="stats_list">
       <li><strong>Followers</strong></li>
							<li>This Month<span class="circle"><%= @phone_numbers.count %></span></li>
					 	<li>Total<span class="circle"><%= @phone_numbers.count %></span></li>
						</ul>
					</div>
    						<div class="message-form">
<%= simple_form_for ([@message]) do |f| %>
  <%= f.input :message, label: 'Create your deal', :placeholder => 'Type here...', input_html: { class: 'form-control inline-input' } %>
  <%= f.hidden_field :phone_list_id, :value => @business.id %>
  <%= f.button :submit, :value => 'Send Deal', :class => "btn-flat success" %>
<% end %>
						</div>

<table class="business-results">
  <thead>
    <tr>
      <th colspan="1"><div class="sent-header">Sent Messages</div></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>        
								<td><%= render message %></td>
      </tr>
    						</div>
    <% end %>
  </tbody>
</table>
    </div>
		</div>
<% end %>