
<div id="pricing">

  <section class="layer plans">
  <section>

    <section class="third lift plan-tier" onclick="location.href='#';">

      <h4>Gold</h4>
      <h5><sup class="superscript">$</sup><span class="plan-price">60</span><sub> for 3 mo.</sub></h5>

      <p class="early-adopter-price">Early adopter price</p><br>


      <ul>
<li><strong>3</strong> month plan</li>
<li><strong>1000</strong> messages</li>
<li><strong>Analytics</strong></li>
<li><strong>Export</strong>Data</li>
</ul>
				<%= link_to 'Select', 'new_gold', class: 'btn btn-success' %>
    </section>

    <section class="third lift plan-tier callout" onclick="location.href='#';">

      <h6>Most popular</h6>
      <h4>Diamond</h4>
      <h5><sup class="superscript">$</sup><span class="plan-price">50</span><sub> for 12 mo.</sub></h5>

      <p class="early-adopter-price">Early adopter price</p><br>
      <del>$60/mo</del>
      <ul>
<li><strong>12</strong> month plan</li>
<li><strong>1000</strong> messages</li>
<li><strong>Analytics</strong></li>
<li><strong>Export</strong>Data</li>
</ul>
				<%= link_to 'Select', 'new_diamond', class: 'btn btn-success' %>
    </section>

    <section class="third lift plan-tier" onclick="location.href='#';">

      <h4>Platinum</h4>
      <h5><sup class="superscript">$</sup><span class="plan-price">55</span><sub> for 6 mo.</sub></h5>

      <p class="early-adopter-price">Early adopter price</p><br>
      <del>$60/mo</del>
      <ul>
<li><strong>6</strong> month plan</li>
<li><strong>1000</strong> messages</li>
<li><strong>Analytics</strong></li>
<li><strong>Export</strong>Data</li>
</ul>
				<%= link_to 'Select', 'new_platinum', class: 'btn btn-success' %>
    </section>

  </section>
</section>
</div>
</div>
</div>
<div id="pricing-mobile">
		<ul class="pricing-box-mobile">
		<li>
		<h4>Gold<p style="float: right;">$60<small>/mo</small></p></h4>
			<p style="border-bottom: 1px solid #333"></p>
			<ul id="inner_list"> 
					<li class="inner"><i class="fa fa-calendar" style="margin-right: 10px;"></i>3 Month Subscription</li>
					<li class="inner"><i class="fa fa-bullhorn" style="margin-right: 10px;"></i>1000 Messages Monthly.</li>
			</ul><%= link_to 'Select', 'new_gold', class: 'btn btn-primary' %>
		</li>
		<li>
		<h4>Diamond<p style="float: right;">$50<small>/mo</small></p></h4>
			<p style="border-bottom: 1px solid #333"></p>
			<ul id="inner_list_callout"> 
					<li class="inner"><i class="fa fa-calendar" style="margin-right: 10px;"></i>12 Month Subscription</li>
					<li class="inner"><i class="fa fa-bullhorn" style="margin-right: 10px;"></i>1000 Messages Monthly.</li>
					<li class="inner"><i class="fa fa-star" style="margin-right: 10px;"></i>Preferred Package.</li>
			</ul><%= link_to 'Select', 'new_diamond', class: 'btn btn-primary' %>
		</li>
		<li>
		<h4>Platinum<p style="float: right;">$55<small>/mo</small></p></h4>
			<p style="border-bottom: 1px solid #333"></p>
			<ul id="inner_list"> 
					<li class="inner"><i class="fa fa-calendar" style="margin-right: 10px;"></i>6 Month Subscription</li>
					<li class="inner"><i class="fa fa-bullhorn" style="margin-right: 10px;"></i>1000 Messages Monthly.</li>
			</ul><%= link_to 'Select', 'new_platinum', class: 'btn btn-primary' %>
		</li>
		</ul>
</div>


